	.grid-container {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
		.grid-container .entry {
			position: relative;
			width: 100%;
			height: auto;
			background-color: #ffffff;
			text-align: center;
			border: 1px solid #f1f1f1;
			border-radius: var(--secondary-border-radius);
			box-shadow: 0px 2px 8px 1px #f1f1f1;
			opacity: 0.7;
		}
		.grid-container .entry:hover {
			opacity: 1.0;
		}
			.grid-container .entry.sortable-placeholder {
				min-height:100px;
			}
	
			.grid-container .entry .details  {
				display: flex;
				flex-direction: row;
				gap: 0.5em;
			}
				.grid-container .entry .details .sortable-handle {
					font-size: 18px;
					width: 50px;
					background: #f7f8f9;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: move;
				}
				.grid-container .entry .details .separator {
					width: 2px;
					height: 30px;
					background: var(--button-background-color);
					margin: auto 0;
				}
				.grid-container .entry .details .type {
					align-items: center;
					width: 100px;
					padding-left: 10px;
					display: flex;
				}
				.grid-container .entry .details h3 {
					flex:1;
					text-align: left;
					margin-left: 20px;
				}
				.grid-container .entry .details select {
					position: relative;
					border: 0;
					height: 30px;
					margin: auto 0;
					background:#fff;
					border-color:#fff;
				}
				.grid-container .entry .details .entry-optional {
					height: 30px;
					margin: auto 0;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 0.5em;
				}
					.grid-container .entry .details .entry-optional label {
						margin: 0;
						font-weight: normal;
					}
				.grid-container .entry .details .toggle-properties {
					all:unset;
					font-size: 18px;
					width: 50px;
					cursor:pointer;
					/*position:absolute;
					top:10px;
					right:10px;*/
				}
				.grid-container .entry .details .toggle-properties.disabled {
					color:#e3e2e2;
					cursor: default;
				}
				.grid-container .entry .details .delete-entry {
					all:unset;
					font-size: 18px;
					width: 50px;
					cursor:pointer;
				}
				.grid-container .entry .details .delete-entry:hover {
					color:#EC1C5D;
				}
			.grid-container .entry .properties {

			}
				.grid-container .entry .properties ul[id^="properties-list"] {
					list-style: none;
					padding: 10px 10px 10px 50px;
					margin: 0;
				}
				.grid-container .entry .properties ul[id^="properties-list"] .sortable-placeholder {
					min-height:50px;
				}
				.grid-container .entry .properties ul[id^="properties-list"] li {
					display: flex;
					flex-direction: row;
					gap: 5px;
					margin:5px 0;
					background: #fff;
					padding: 3px;
					border: 1px solid #f1f1f1;
				}
					.grid-container .entry .properties ul[id^="properties-list"] li .handle {
						font-size: 18px;
						width: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: move;
					}
					.grid-container .entry .properties ul[id^="properties-list"] li label.property-label {
						white-space: nowrap;
						border-right: 1px solid #f1f1f1;
						padding: 0 10px;
					}
					.grid-container .entry .properties ul[id^="properties-list"] li .placeholder-property,
					.grid-container .entry .properties ul[id^="properties-list"] li .delete-property,
					.grid-container .entry .properties ul[id^="properties-list"] li .save-property {
						all:unset;
						font-size: 18px;
						width: 50px;
						cursor:pointer;
					}
					.grid-container .entry .properties ul[id^="properties-list"] li .delete-property:hover {
						color:#EC1C5D;
					}
					.grid-container .entry .properties ul[id^="properties-list"] li .save-property:hover {
						color:#1CEC81;
					}
					.grid-container .entry .properties ul[id^="properties-list"] li input {
						border: 0;
					}

			.grid-container .entry .properties-actions {
				display: flex;
				flex-direction: row;
				padding: 1em;
			}
				.grid-container .entry .properties-actions .add-property {
					all:unset;
					font-size: 18px;
					width: 50px;
					cursor:pointer;
				}
	
			.grid-container .entry[data-type="text_separator"] .properties-actions,
			.grid-container .entry[data-type="text_separator"] .handle,
			.grid-container .entry[data-type="video_youtube"] .properties-actions,
			.grid-container .entry[data-type="video_youtube"] .handle {
				display:none !important;
			}
			.grid-container .entry[data-type="text_separator"] li {
				border:initial !important;
			}
	
			.grid-container .entry[data-type="text_input"] .properties-actions {
				display:none;
			}

			.grid-container .entry[data-type="text_separator"] {
				border-left:4px solid orange;
			}
			.grid-container.entry[data-type="text_input"] {
				border-left:4px solid purple;
			}
			.grid-container .entry[data-type^="mcq"] {
				border-left:4px solid cyan;
			}
	
	.entry-actions {
		display: flex;
		flex-direction: row;
		background:#fff;
		border-radius: var(--secondary-border-radius);
		overflow: hidden;
	}
		.entry-actions .add-entry:hover {
			background: var(--button-hover-color);
		}
		.entry-actions #new-entry-name {
			border-width: 0 1px 0 0;
			margin-right: 10px;
		}
		.entry-actions select {
			border: 0;
			height: 20px;
			margin: auto 0;
			background:#fff;
			border-color:#fff;
		}