:root {
	--header-background: var(--secondary-color);
	--header-link-color: #f1f1f1;
	--header-link-color-hover: #fff;
	--header-user-dropdown-button-background: var(--pink-color);
	--header-user-dropdown-button-border: var(--pink-color);
	--header-user-dropdown-button-color: #fff;
	--header-user-dropdown-background: var(--pink-light-color);
}

header {
    background-color: var(--header-background);
    padding: .4rem 0 0;
    margin: 2rem auto 15px auto;
    max-width: 1600px;
    border-radius: var(--primary-border-radius);
    position: relative;
}

header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    header ul:nth-child(2) {
		display: flex;
		align-items: center;
		gap:1em;
        list-style-type: none;
        margin: 0;
        overflow: visible;
        padding: 0;
        text-align: right;
        position: absolute;
        right: 15px;
        top: 5px;
    }

header li {
    display: inline-block;
}

    header li a {
        border-radius: var(--secondary-border-radius);
        color: rgba(0, 0, 0, .5);
        display: block;
        height: 44px;
        text-decoration: none;
    }

    header li.menu-item a {
        border-radius: var(--secondary-border-radius);
        margin: 5px 0;
        height: 38px;
        line-height: 36px;
        padding: .4rem .65rem;
        text-align: center;
		color: var(--header-link-color)
    }

        header li.menu-item a:hover,
        header li.menu-item a:focus {
           /*background-color: rgba(221, 72, 20, .2);*/
           color: var(--header-link-color-hover)
        }

header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
    max-width: 30px;
    overflow: hidden;
}

header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

    header .menu-toggle button {
        background-color: rgba(221, 72, 20, .6);
        border: none;
        border-radius: var(--secondary-border-radius);
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        font: inherit;
        font-size: 1.3rem;
        height: 36px;
        padding: 0;
        margin: 11px 0;
        overflow: visible;
        width: 40px;
    }

        header .menu-toggle button:hover,
        header .menu-toggle button:focus {
            background-color: rgba(221, 72, 20, .8);
            color: rgba(255, 255, 255, .8);
        }

header .heroe {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
}

    header .heroe h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    header .heroe h2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

.menu {
    padding: .4rem 2rem;
}

.menu input[type="checkbox"] {
    display: none;
}

.menu label[for="user_dropdown"] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
	border-color:var(--header-user-dropdown-button-border);
    background: var(--header-user-dropdown-button-background);
    color: var(--header-user-dropdown-button-color);
    overflow: hidden;
    padding: 0;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.menu input[type="checkbox"]:checked ~ ul.user_dropdown {
    display: block;
}

.menu ul.user_dropdown {
    display: none;
    position: absolute;
    right: -15px;
    top: 3.76rem;
    background: var(--header-user-dropdown-background);
    padding: 10px;
    min-width: 250px;
    border-radius: var(--primary-border-radius);
}

    .menu ul.user_dropdown > li {
        text-align: left;
        display: block;
    }

    .menu ul.user_dropdown .titlebar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 2px solid #dba8bd;
        padding-bottom: 5px;
    }

        .menu ul.user_dropdown .titlebar > span {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            display: inline-block;
        }

        .menu ul.user_dropdown .titlebar > a {
            display: flex;
            flex-grow: initial;
            text-decoration: none;
            color: #000;
        }

    .menu ul.user_dropdown .userinfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        padding: 0.5em 0;
    }

        .menu ul.user_dropdown .userinfo .profile {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 1px solid #fff;
			border-color:var(--header-user-dropdown-button-border);
			background: var(--header-user-dropdown-button-background);
			color: var(--header-user-dropdown-button-color);
            overflow: hidden;
            padding: 0;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 18px;
        }

        .menu ul.user_dropdown .userinfo .meta {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }

            .menu ul.user_dropdown .userinfo .meta > span.email {
                font-size: 12px;
            }
