/* SIDEBAR */
:root {
	--sidebar-meeting-bg: #c5f0ff69;
	--sidebar-assignment-color: #ffffffcf;
	--sidebar-assignment-color-hover: #ffffff;
}

.main .meetings .inner {
    display: flex;
    flex-direction: column;
	height: 100%;
}

.main .meetings.locked .inner {
    opacity: 0.7;
}
	.main .meetings.locked .inner a {
		opacity: 0.5;
		cursor:default !important;
	}

.main .meetings ul,
.main .meetings ul > li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}
    .main .meetings ul > a {
        text-decoration: none;
        color: #000;
    }
    .main .meetings ul > a > li,
    .main .meetings ul > li {
        margin: 10px 20px;
        background: var(--sidebar-meeting-bg);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

        .main .meetings ul > a > li .name,
        .main .meetings ul > li .name {
            display: inline-block;
            min-width: 50px;
            height: 50px;
            border-radius: 100%;
            border: 1px solid #f1f1f1;
			color:var(--primary-color);
            background: #fff;
            text-align: center;
            line-height: 50px;
            font-size: 22px;
            font-weight: bold;
        }

        .main .meetings ul > a > li .info,
        .main .meetings ul > li .info {
            padding-left: 10px;
            font-weight: bold;
            font-size: 14px;
			color:#fff;
            flex-grow: 1
        }

.main .meetings .assignments ul {

}
    .main .meetings .assignments ul li {
        margin: 0px 20px;
        background: transparent;
        text-align: left;
        color: var(--sidebar-assignment-color);
        display: block;
    }
    .main .meetings .assignments ul li:hover {
        color: var(--sidebar-assignment-color-hover);
    }
	.main .meetings .assignments ul li.active {
		font-weight: bold;
	}

.main .meetings .cases {
	margin-top: auto;
}
	.main .meetings .cases ul {

	}
		.main .meetings .cases ul li {
			background: #fff;
			font-weight: bold;
			color: var(--secondary-color);
		}

/* MEETING CONTENT */
.main .content .meeting {

}